<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rentr</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Template CSS -->
    <link href="{% static "css/simple-sidebar.css" %}" rel="stylesheet">

    <!-- Custom Core CSS -->
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <nav class="navbar navbar-inner navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<div class="header-brand">
				    <img class="img-responsive" src="{% static "img/rentr-logo-web.png" %}" 
				    alt="Rentr Logo"> 
			        </div>
			</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="navbar navbar-nav navbar-right" id="right-links">
				<li><a href="#">Logout</a></li>
			</ul>
		</div>
	</div>
    </nav>
    <div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="">
			<h3>All Locations<h3>
                </a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        	    <div class="row">
		    <div class="col-lg-12">
		    <div class="table">
			    <button type="click" class="btn btn-primary hidden-lg hidden-md" id="menu-toggle">
				    <span>Toggle Menu</span>
			    </button>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Date Due</th>
                                </tr>
                            </thead>
                            <tbody class="tableBody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->
    </div>
    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}" rel="stylesheet"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.js" %}" rel="stylesheet"></script>

    <!-- lodash Core JavaScript -->
    <script src="{% static "js/lodash.js" %}" rel="stylesheet"></script>

    <!-- SideBar GET Store Script -->
    <script>

    $("#menu-toggle").click(function(e) {
	    e.preventDefault();
	    $("#wrapper").toggleClass("toggled");
    });

    $(document).ready( function (){
        $.getJSON("/rented/", function( data ){
            $(".tableBody").empty();
            $.each(_.sortBy(data, "dateDue"), function(key, val){
                $(".tableBody").append(
                    "<tr><td>" + val.type + "</td><td>" + val.dateDue + "</td></tr>"
                );
            })
        });

        $.getJSON("/storeList", function( data ) {
            $.each(data, function(key, val){
                $(".sidebar-nav").append(
                    "<li class='sidebar-brand'> <a href=\"javascript:getStore(" + val.pk + ");\">"
                    + val.name + "</a></li>"
                );
           })
        });
    });
    </script>
    <script>
        function getStore( store ){
            $(".header").empty()

            $.getJSON("/store/" + store, function( store ){
                $(".header").append("<h1>" + store.name + "</h1>");
            });

            $.getJSON("/rentable/", { store : store}, function( data ){
                $(".tableBody").empty();
                $.each(data, function(key, val){
                    $(".tableBody").append(
                        "<tr><td>" + val.type + "</td><td>" + val.dateDue + "</td></tr>"
                    );
                })
            });
        }
    </script>
</body>
</html>
